<!-- templates/game.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Great Dalmuti - Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="gameBody">
    <div id="gameContainer">
        <!-- Player section -->
        <div id="playerSection">
            <ul id="players">
                <!-- Dynamically populated list of players -->
            </ul>
        </div>

        <!-- Board section -->
        <div id="boardSection">
            <div id="board">
                <!-- The board where cards are played -->
            </div>
        </div>

        <!-- My Hand section -->
        <div id="handSection">
            <ul id="hand">
                <!-- Dynamically populated list of player's cards -->
            </ul>
        </div>

        <!-- Control buttons section -->
        <div id="controlSection">
            <button class="controlButton" id="settingsButton"></button>
            <button class="controlButton" id="passButton" onclick=""></button>
            
        </div>
    </div>

    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
