<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="bannerimage"></div>
    <title>The Great Dalmuti - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="homeBody">
    <form action="{{ url_for('start_game') }}" method="POST" id="gameForm">
        <input type="text" name="playerName" class="playerNameInput" placeholder="Enter your name" required>
        </br>
        <select class="select" name="gameType" id="gameType" required>
            <option value="computer">Computers</option>
            <option value="multiplayer">Players</option>
        </select>
        <select class="select" name="roomType" id="roomType" style="display:none;" required>
            <option value="create">Create a room</option>
            <option value="join">Join a room</option>
        </select>
        <input type="text" name="roomName" id="roomName" placeholder="Room Number" style="display:none;" required>
        </br>
        <input type="number" id="numPlayers" name="numPlayers" placeholder="Number of players(4-8)" min="4" max="8" required>
        </br>
        <button type="submit">Start Game</button>
    </form>

    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
